<!doctype html>
<html ng-app="app">
    <head></head>
    <body data-ng-controller="MainController as mc">
        <zipcode ng-model="mc.zip" rb-disabled="{{mc.disabled}}" myvalidator>
            <rb-message when="myvalidator">My validation rule</rb-message>
            <rb-message when="required">I am really required!!!!!!</rb-message>
        </zipcode>
        {{mc.zip}}
        <zipcode ng-model="mc.zip2"></zipcode>
        {{mc.zip2}}
        <script src="../source/angular.js"></script>
        <script src="app.js"></script>
        <script src="maincontroller.js"></script>
        <script src="myvalidator.js"></script>
        <script src="zipcode.js"></script>
    </body>
</html>